body:not([data-adblock-disabled]) .promotedlink {
	filter: blur(200px) !important;
	display: none !important;
	visibility: hidden !important;
	opacity: 0 !important;
	height: 0 !important;
	overflow: hidden !important;
	padding: 0 !important;
	border: none !important;
	margin: 0 !important;
}
